@import "variables";

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  header {
    grid-column: 1/-1;
    grid-row: 1/2;
    h1 {
      margin: 0;
    }
  }
  aside {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  main {
    border-radius: 10px;
    grid-column: 5/-1;
    grid-row: 2/3;
  }
  footer {
    grid-column: 1/-1;
    text-align: center;
    padding: 5px;
    grid-row: 3/4;
  }
  @media screen and (max-width: 700px) {
    aside {
      grid-column: 1/-1;
    }
    main {
      grid-column: 1/-1;
      grid-row: 3/4;
    }
    footer {
      grid-row: 4/5;
    }
  }
}
