<div class="launch-card">
  <img
    loading="lazy"
    width="400"
    height="400"
    [src]="launch?.links?.mission_patch_small"
    [alt]="launch.mission_name"
  />
  <div class="mission_title">
    <strong> {{ launch.mission_name }} #{{ launch.flight_number }} </strong>
  </div>
  <div class="missions">
    <strong>Mission Ids:</strong>
    <ul>
      <li *ngFor="let mission of launch.mission_id">
        {{ mission }}
      </li>
      <li *ngIf="launch.mission_id.length === 0">-</li>
    </ul>
  </div>
  <div class="launch_yr">
    <strong>Launch Year: </strong> {{ launch.launch_year }}
  </div>
  <div>
    <strong>Successful Launch:</strong>
    {{ launch.launch_success ? "Yes" : "No" }}
  </div>
  <div>
    <strong>Successful Landing:</strong>
    {{ launch.launch_failure_details ? "No" : "Yes" }}
  </div>
</div>
